
body {background-color: #dcdde1;}
#logoMenu{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 4%;
}
#barraLateral{
    background-color: #fcd670;
    width:15%;
    margin-top:0px;
    height:91vh;
	float: left;
    overflow: auto;
    border: 2px solid #000000;
    border-bottom: none;
    border-radius: 2px 2px 0px 0px;
    font-weight: bold;
}
h3 {
    margin-top: 10%;
    text-align: center;
}
#corpo {
    margin-top: 70px;
}
a {
    color: #FFFFFF;
} 
a:hover { color: #FFFFFF; } 
#elementoColorido{
    text-align: center;
    background-color: #fcd670;
}
#elementoColorido:hover {
    background-color: rgba(255, 203, 5, 1);
}
#borderCard{
    border-radius: 15px;
    border: 3.5px solid #000000;
    background: rgba(238, 238, 238, 1);
    
}
#Tabela {
    margin-top: 25px;
    margin-bottom: 85px;
}
.footer {
    clear: both;
    background-color: #ffffcc;
    padding-bottom: 1vh;
    width: 100%;
}
#easterEgg {
    padding: 8px;
    font-style: oblique;
    color: grey;
}