html {
    background: url(../Imagens/cardTaskerFundoDef.png) no-repeat center fixed; 
    background-size: cover;
}
#borderCard{
    border-radius: 15px;
    border: 3.5px solid #000000;
    background: rgba(255, 255, 255, 0.89);
    
}
#Tabela {
    margin-top: 25px;
}